{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
    .full-height {
        height: 100vh;
    }
</style>
<div class="container-fluid full-height">
    <p>Me gustaría que diseñaras un boletín informativo. ejemplo: </p>

    <img src="https://th.bing.com/th/id/R.c62e654265d24ac77c6425c0c7740451?rik=sn4yd1dDvbFQDw&pid=ImgRaw&r=0" alt="" srcset="">
    <img src="https://live.staticflickr.com/3394/3671353680_1f3d15a743.jpg" alt="" srcset="">
    <img src="https://th.bing.com/th/id/R.b3d80a5eb008085c7ad4b57440dd7927?rik=ql%2fnNAhexia3sw&pid=ImgRaw&r=0" alt="" srcset="">

</div>
{% endblock %}