{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
    /* Add custom styles to the form */
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="email"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<section class="container-fluid d-flex align-items-center justify-content-between">
    <div class="">
        <h3>Password Reset</h3>
        <p>Forgot your password? Enter your email address below, and we will send you instructions to set a new one.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br>
    </div>
</section>

<script>
    // Add placeholder text to the email input field
    document.querySelector('input[type="email"]').setAttribute('Marcador de posición', 'Ingrese su dirección de correo electrónico');
</script>
{% endblock %}