{% extends '../base.html' %}
{% load static %}
{% block content %}
<br><br>
<section class="container-fluid d-flex align-items-center justify-content-between">
    <div class="container">
        <h1>Login</h1>
        <p>Your password has been changed. You can now log in to your account with your new password.</p>        
        <a href="{% url 'user_login' %}">
            <button class="btn btn-primary">Login</button>
        </a>
    </div>
</section>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
{% endblock %}